
    <!-- <div class="header">
        <input 
        *ngIf="displaySearch"
        placeholder="Search" 
        type="search" 
        id="gsearch"
        name="gsearch"
        (keyup)="$event.keyCode == 13 ? search() : null"
        [(ngModel)]="searchText" >
    </div> -->



<div class="topnav">
  
 <a class="logo">Logo</a>
  <div class="search-container">
    
   <input 
        class="input"
        *ngIf="displaySearch"
        placeholder="Search" 
        type="search" 
        id="gsearch"
        name="gsearch"
        (keyup)="$event.keyCode == 13 ? search() : null"
        [(ngModel)]="searchText" >
  </div>
  
</div>

